{
	"appId":"ONEX44CD02A191955",
	"appKey":"ONEX44CD02A191955_ANDROID",
	"base64Code":"",
	"packageName":"com.panda.free.card",
	"rootPath":"mpaas/android/ONEX44CD02A191955-default",
	"workspaceId":"default",
	"syncport":"443",
	"syncserver":"mpaas-mss.aliyuncs.com",
	"logGW":"https://mpaas-mas-loggw.aliyuncs.com",
	"pushPort":"443",
	"pushGW":"mpaas-mps.aliyuncs.com",
	"mpaasapi":"https://cn-hangzhou-component-gw.cloud.alipay.com/mgw.htm",
	"rpcGW":"https://mpaas-mgs.aliyuncs.com/mgw.htm",
	"mrtcserver":"wss://cn-hangzhou-mrtc.cloud.alipay.com/ws",
	"mpaasConfigVersion":"V_1.0",
	"mpaasConfigEnv":"ONEX_CLOUD",
	"mpaasConfigPluginExpired":"",
	"mpaasConfigLicense":"TX/AmK/fMcqtFkrsw2nyfB4erQcEEoYNb5YYn48FfOPkp+sspnXwB7Wz6DF50eKnFV7vy4eQ9ugUCOJ0iyCHkZDAFWrCGT9Xbi0XI3PVObfOX8i6WPso/xzf0yYBYzdltCDZcHXuLHfhd/N8nXBiQwtPWaFajWqFCdM/chluU7GWZpPFt5PtyhaBDm27qypch7cK99Tkw8xqn8mERojRSmEcMWCOn6fTWIEZc987Ey8yO4ZmG6Qwd+58mdQMA4XdyHamJrd9TGpAuJ5Kgrxkhn74+QqZ4yZdnwSImMSeD+xdVtOfXLA20z/ThuSja4RqQbGeBjcU1dRD+1zDELdA8g=="
}